html, body, #skrollr-body{
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
}

	#blue_wrapper {
		position:fixed;
		top:0;
		right:20px;
	}

	
	#red, #blue {
		width:128px;
		height:128px;
		background:#f33 url(images/face.png);
	}

	#red {
		float:left;
		margin:1em;
	}

	#blue {
		background:#09f url(images/face.png) 0 bottom;
		margin-top:20px;
	}

	#blue_wrapper {
		position:fixed;
		top:0;
		right:20px;
	}


#slide-1{
	width: 100%;
	height: 100%;
}

#slide-2{
	width: 100%;
	height: 100%;
}

#slide-3{
	width: 100%;
	height: 500%;
}


.fixed-wrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility:hidden;
}

.fixed-wrapper div, .fixed-wrapped h2{
    position: fixed;
}



#goldengate{
	width: 100%;
	height: 100%;
	background: url("../img/goldengate.jpg");
	background-position: 85% 70%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



#meet-paul{
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	z-index: 10 !important;
	color: white;
}

#fog{
  background-image: url("../img/goldengate-anim-fog-4.png");
  height: 100%;
  width: 150%;
  background-repeat: no-repeat;
  background-size: 120% 150%;
  background-position: 85% 70%; 
}

#scientist-musician{
  height: 100%;
  width: 100%;
  background: white;
  z-index: 100;
}


#full-stack-dev{
	height: 100%;
	width: 100%;
	background: url('../img/pressy.jpg');
	background-position: 85% 70%;
	background-size: 100% 100%;
}